<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com">
	
<head>
	<title>Pesquisa de vendas</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de vendas</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/vendas/nova}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova venda</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${vendaFilter}">
			<div class="row">
				<div class="form-group  col-sm-6">
					<label class="control-label" for="codigo">Código</label>
					<input type="text" class="form-control" id="codigo" autofocus="autofocus" th:field="*{codigo}"/>
				</div>
				<div class="form-group  col-sm-6">
					<label class="control-label" for="status">Status</label>
					<select class="form-control" id="status" th:field="*{status}">
						<option value="">Todos os status</option>
						<option th:each="val : ${status}" th:value="${val}" th:text="${val.descricao}"></option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6  form-group">
					<label class="control-label" for="dataDe">Data de criação</label>
					<div class="form-inline">
						<input type="text" id="dataDe" class="form-control  aw-form-control-inline-sm  js-date" th:field="*{desde}"/>
						<label for="dataAte" class="aw-form-label-between">até</label>
						<input type="text" id="dataAte" class="form-control  aw-form-control-inline-sm  js-date" th:field="*{ate}"/>
					
					</div>
				</div>
				
				<div class="col-sm-6  form-group">
					<label class="control-label" for="valorDe">Valor total</label>
					<div class="form-inline">
						<input type="text" id="valorDe" class="form-control  aw-form-control-inline-sm  js-decimal" th:field="*{valorMinimo}"/>
						<label class="aw-form-label-between" for="valorAte">até</label>
						<input type="text" id="valorAte" class="form-control  aw-form-control-inline-sm  js-decimal" th:field="*{valorMaximo}"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6  form-group">
					<label class="control-label" for="nomeCliente">Nome cliente</label>
					<input class="form-control  col-sm-6" id="nomeCliente" th:field="*{nomeCliente}"/>
				</div>
				
				<div class="col-sm-6  form-group">
					<label class="control-label" for="cpfOuCnpj">CPF/CNPJ</label>
					<input class="form-control  col-sm-6  js-cpfOuCnpj-pesquisa" id="cpfOuCnpj" th:field="*{cpfOuCnpj}">
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-estilos-col-codigo">Código</th>
						<th>
							<brewer:order page="${pagina}" field="c.nome" text="Cliente"/>
						</th>
						<th>Data de criação</th>
						<th>Valor total</th>
						<th>Vendedor</th>
						<th>Status</th>
						<th class="table-col-acoes"></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="venda : ${pagina.conteudo}">
						<td class="text-center" th:text="${venda.codigo}">1</td>
						<td th:text="${venda.cliente.nome}">Jose</td>
						<td th:text="${{venda.dataCriacao}}"></td>
						<td th:text="|R$ ${{venda.valorTotal}}|"></td>
						<td th:text="${venda.usuario.nome}">
						<td th:text="${venda.status.descricao}"></td>
						<td class="text-center">
							<a class="btn  btn-link  btn-xs" title="Editar"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs" title="Excluir">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					</tr>
					<tr th:if="${pagina.vazia}">
						<td colspan="3">Nenhum estilo encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>	
		<brewer:pagination page="${pagina}"/>
	</div>
</section>
</body>
</html>